*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
form h1{
    color: white;
}
form{
    width: 350px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #223241;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type=submit]{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    color: #ffffff;
    background-color: #2196f3;
}
input{
    margin-top: 10px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    background-color: #e3f2fd;
    border: 2px solid white;
}
#data div img{
    width: 200px;
    height: 300px;
    border: 2px solid black ;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 5px;

}
div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.product-listing {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin: 50px;
}
button{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    width: 200px;
    border: 2px solid white;
    color: #ffffff;
    background-color: #2196f3;
}